{{#each users}}
  <div class="user-card">
    <img src="https://i.pravatar.cc/300" alt="Profile Image" />
    <div class="user-details">
      <h2>{{this.first_name}}</h2>
      <p>{{this.email}}</p>
      <p>{{this.dni}}</p>
      <p>{{this.birthDate}}</p>
    </div>
  </div>
{{/each}}